<launch>
   <arg name="M" default="1"/>
   <arg name="N" default="100"/>
   <arg name="S" default="0"/>
   <node pkg="module_controller" name="robot1" type="robot_database.py" args="$(arg S)"/>
   <node pkg="module_controller" name="init1" type="init_tester.py" args="$(arg M) $(arg N)" output="screen"/>
</launch>
